.userinfo {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    color: #60e51d;
    border-radius: 5px;
    cursor: default;
    justify-content: center;
    height: 106px;
}

.userinfo:hover {
    color: white;
    box-shadow: 0 0 10px 0 #0750b1 inset, 0 0 10px 4px #3a46f0;
    transition: 1s;
}

.userinputinfo {
    margin-bottom: 10px;
    height: 195px;
    border: 1px solid rgb(192, 167, 167);
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
    color: white;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    overflow: hidden;
}

.wordFrist {
    overflow-wrap: anywhere;
    user-select: none;
}

.word {
    margin-right: 8px;
    white-space: nowrap;
    font-size: 30px;
}

#active {
    background: #202022;
    border-radius: 5px;
    padding: 2px;
}

.correct {
    color: yellowgreen;
}

.incorrect {
    color: red;
}

.reloadone {
    cursor: pointer;
    color: yellowgreen;
}

.reloadone:hover {
    color: yellow;
}

.userdata {
    padding: 10px;
    font-size: 40px;
    margin-top: -6px;
    display: flex;
}

.fristheight {
    margin-top: -96px;
}

.secondheight {
    margin-top: -185px;
}

.thridheight {
    margin-top: -276px;
}

.forthheight {
    margin-top: -364px;
}

.fivethheight {
    margin-top: -452px;
}

.sixthheight {
    margin-top: -540px;
}

.seventheight {
    margin-top: -552px;
}

.eightheight {
    margin-top: -648px;
}

.timewid {
    width: 170px;
}

.speedwid {
    width: 200px;
}

.Wcwid {
    width: 360px;
}

.Awwid {
    width: 280px;
}

.rou {
    justify-content: center;
    display: flex;
}

.a-c-r {
    width: 400px;
    border: 2px solid;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.head-tr {
    color: white;
    justify-content: center;
    display: flex;
}

.head-tr:hover {
    color: white;
    box-shadow: 0 0 10px 0 #0750b1 inset, 0 0 10px 4px #3a46f0;
    transition: 1s;
}

.score-f {
    margin: 10px;
    color: #58f56b;
    font-size: 26px;
    transition: 1s;
    cursor: default;
}

.score-f:hover {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 5px;
    transition: 500ms
}

.score-h-f {
    padding-left: 19px;
}

.score-a-f {
    direction: rtl;
    margin-top: -37px;
    border-bottom: 1px solid;
    padding-right: 24px;
}

.score-hear-f {
    display: flex;
    border-bottom: 2px solid;
    cursor: pointer;
    width: 300px;
    text-align: center;
    padding-left: 46px;
}

.score-icon-head {
    width: 52px;
    border-radius: 5px;
    height: 47px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.restartshortcut {
    margin-top: 10px;
    margin-left: -30px;
}

@media (max-width: 1250px) {
    .userdata {
        font-size: 30px;
    }
    .userinputinfo {
        font-size: 10px;
    }
}

@media (max-width: 1050px) {
    .userinfo {
        height: 86px;
    }
    .userdata {
        font-size: 25px;
    }
    .timewid {
        width: 137px;
    }
    .speedwid {
        width: 146px;
    }
    .Wcwid {
        width: 235px;
    }
    .Awwid {
        width: 188px;
    }
}

@media (max-width: 1000px) {
    .userinfo {
        display: contents;
    }
}