.userinfo {
    border: 1px solid white;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    cursor: default;
}

.userinfo:hover {
    color: white;
    box-shadow: 0 0 10px 0 #0750b1 inset, 0 0 10px 4px #3a46f0;
    transition: 1s;
}

.userinputinfo {
    margin-bottom: 10px;
    height: 195px;
    border: 1px solid rgb(192, 167, 167);
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
    color: white;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    overflow: hidden;
}

.wordFrist {
    overflow-wrap: anywhere;
}

.word {
    margin-right: 8px;
    white-space: nowrap;
    font-size: 30px;
}

#active {
    background: #202022;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid;
}

.correct {
    color: yellowgreen;
}

.incorrect {
    color: red;
}