@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fjalla One', sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}

::-webkit-scrollbar {
    width: 2px;
}

 ::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 106, 247);
}